@import "mixin";

$navbar-font-size: 16px;

.navbar-container {
  position: fixed;
  top:0;
  width: 100%;
  z-index: 999;

  .navbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    justify-content: flex-start;
    border: none;
    @include first-color();
    @include first-background-color();

    /deep/ .el-menu-item {
      font-size: $navbar-font-size;
      @include first-color();
      @include first-background-color();
    }

    /deep/ .el-menu-item:hover {
      @include second-color();
      @include second-background-color();
    }

    .left-navbar {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-items: flex-start;
      justify-content: flex-start;
      height: 100%;
    }

    .right-navbar {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-items: flex-end;
      justify-content: flex-end;
      height: 100%;

      .el-submenu {

        /deep/ .el-submenu__title {
          @include first-color();
          font-size: $navbar-font-size;

          .el-submenu__icon-arrow {
            right: 5px;
          }
        }

        /deep/ .el-submenu__title:hover {
          @include second-color();
          @include second-background-color();
        }

        /deep/ .el-menu--popup {
          //margin: 0;
          padding: 0;
        }
      }

      .login-button {
        @include second-background-color();
        @include second-color();
        @include second-border-color();
        border-radius: 6px;
      }

      .register-button {
        @include second-background-color();
        @include second-color();
        @include second-border-color();
        border-radius: 6px;
      }
    }
  }

  /deep/ .login-dialog {
    @include first-color();
    @include first-background-color();
    border-radius: 20px;

    .login-form {

      .el-form-item {
        margin: 15px auto 15px ;

        .el-input__inner {
          border-radius: 16px;
          @include second-border-color();
          @include second-color();
          @include second-background-color();
        }
      }

      .el-form-item__label {
        @include first-color();
      }
    }

    .login-button {
      @include second-color();
      @include second-background-color();
      @include second-border-color();
      border-radius: 16px;
    }
  }

  /deep/ .register-dialog {
    @include first-color();
    @include first-background-color();
    border-radius: 20px;

    .register-form {

      .el-form-item__label {
        @include first-color();
      }

      .el-form-item {
        margin: 15px auto 15px auto;

        .el-input__inner {
          border-radius: 16px;
          @include second-border-color();
          @include second-color();
          @include second-background-color();
        }
      }
    }

    .register-button {
      @include second-color();
      @include second-background-color();
      @include second-border-color();
      border-radius: 16px;
    }
  }
}
