$scrollbar-background-color-light: #f1f1f1;
$scrollbar-background-color-dark: #424242;


$scrollbar-thumb-background-color-light: #c1c1c1;
$scrollbar-thumb-background-color-dark: #686868;

$first-color-light: #000000;
$first-color-dark: #bdc1c6;

$first-background-color-light: #ffffff;
$first-background-color-dark: #161819;

$second-color-light: #000000;
$second-color-dark: #bdc1c6;

$second-background-color-light: #f1f3f4;
$second-background-color-dark: #303134;


